html, body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container-avatar {
	display: flex;
	flex-flow: column;
	align-items: flex-start;
}

.container-avatar img {
	width: 320px;
}

.container-id,
.container-login,
.container-password,
.container-submit {
	text-align: left;
}

